/* A COMPLETER */
.detournee {
  font-style: italic;
  text-decoration: underline;
}

.contandante {
  font-weight: bold;
}

article > h1,
section > h2,
section > h3 {
  color: red;
}

nav > ul {
  list-style: none;
}

#armes li {
  color: green;
}
#armes li > ul > li {
  color: blue;
}

h3 img {
  height: 1em;
}

h2 img {
  height: 1em;
}

aside {
  width: 40%;
}

section:last-child > ul > li {
  list-style: none;
}
